<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Sobre nosotros | CTP Francisco J. Orlich</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <!-- Aquí aparece el header donde aparecen las diferentes opciones que tiene el usuario-->
    
    <header>
        <div id="menu"></div>

        <script>
            fetch("{{ url_for('static', filename='menu.html') }}")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("menu").innerHTML = data;
                });
        </script>
    </header>

    <!--Contenido-->
    <main>
        <section class="pagina">
            <h1>Sobre Nosotros</h1>

            <section class="bloque">
                <h2>Misión</h2>
                <p>
                    Contribuir a la formación integral de jóvenes, brindándoles una educación técnico-humanista de calidad que les permita desarrollar un perfil profesional competitivo y ventajas laborales para insertarse en el mercado de trabajo y participar en el desarrollo socioeconómico del país.
                </p>
            </section>

            <section class="bloque">
                <h2>Visión</h2>
                <p>
                    Ser un centro educativo líder y de excelencia en la formación técnica diurna y nocturna, adaptándose a las necesidades de la sociedad actual, promoviendo la ética, el compromiso y la superación, y proyectándose como una institución que mejora constantemente su calidad educativa.
                </p>
            </section>

            <section class="bloque">
                <h2>Historia</h2>
                <p>
                    El Colegio Técnico Profesional (CTP) lleva el nombre de Francisco J. Orlich Bolmarcich (1907-1969), una figura clave en la historia de Costa Rica. Este destacado empresario, agricultor y político, originario de San Ramón de Alajuela, fue declarado Benemérito de la Patria en 1977. En su vida pública, ocupó importantes cargos, incluyendo el de Presidente de la República entre 1962 y 1966, además de servir como Diputado y Ministro de Obras Públicas. Su legado incluye haber enfrentado desafíos nacionales como la erupción del Volcán Irazú y haber contribuido significativamente al desarrollo del país. Al llevar su nombre, el CTP Francisco J. Orlich se compromete con el espíritu de servicio y el desarrollo nacional que caracterizó a Don Francisco J. Orlich, manteniendo una larga trayectoria en la formación de jóvenes profesionales, como lo demuestra la reciente celebración de su 55 Aniversario.
                </p>
            </section>

            <section class="bloque">
                <h2>Especialidades Técnicas</h2>
                <ul>
                    <li>Redes y configuración</li>
                    <li>Diseño multimedia</li>
                    <li>Turismo</li>
                    <li>Logistica y distribución</li>
                    <li>Contabilidad</li>
                    <li>Secretariado</li>
                </ul>
            </section>

            <section class="bloque">
                <h2>Talleres</h2>
                <ul>
                    <li>
                        <h3>Textiles</h3>
                        <p>
                            Los estudiantes de 8° tienen la oportunidad de elegir este taller que les enseña habilidades prácticas para aprender sobre diferentes fibras, usos y calidad, cuidados, principalmente orientados a la vestimenta
                        </p>
                    </li>
                    <li>
                        <h3>Corte y confección</h3>
                        <p>
                            Los estudiantes de 8° tienen la oportunidad de elegir este taller que les enseña habilidades prácticas para aprender habilidades de costura básica como coser botoner, hacer puntadas, confección básica y a usar máquina de coser
                        </p>
                    </li>
                </ul>
            </section>
            
            <section class="bloque">
                <h2>Certificaciones</h2>
                <ul>
                    <li>
                        Hardware de Computadora (IT Essentials)--- Especialidad: Redes y configuración
                    </li>
                    <li>
                        CCNA (Cisco Certified Network Associate)--- Especialidad: Redes y configuración
                    </li>
                    <li>
                        Python (Fundamentos de programación).--- Especialidad: Redes y configuración
                    </li>
                </ul>
            </section>
        </section>
    </main>

    <!--Flooter-->
    <footer>
        <div id="footer"></div>
        <script>
            fetch("{{ url_for('static', filename='footer.html') }}")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("footer").innerHTML = data;
                });
        </script>
    </footer>

</body>
</html>
